<main class="mt-5">
    <div class="container"  >
        <div class="card mx-auto" >
            <div class="card-header">
                <img src="/img/gato.gif" alt="logo" class="card-img-top mx-auto m-2 rounded-circle" style="width: 150px; height: 150px; display:block;">
                <h3 class="text-uppercase text-center p-3"style="color: aquamarina"><b>BIENVENIDOS</b></h3> 
                <h6 class="text-uppercase text-center p-3"><i>¡NO COMPRES, ADOPTA UNA MASCOTA!</i></h6> 
                <img src="/img/perro.webp" alt="logo" class="card-img-top mx-auto m-2 rounded-circle" style="width: 150px; height: 150px; display:block;">
                
            </div>
        </div>
    </div>
    
</main>