<main class="mt-5" >
        <div class="container" >
        <div class="card mx-auto" >
            <div class="card-header">
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-circle" style="width: 150px; height: 150px; display:block;">

                <h3 class="text-uppercase text-center p-4 sty" style="color: gray"> <b>MISION</b></h3>
            </div>
            <div class="card-body text-center">
                    <p><b><i>  Somos una empresa dedicada a buscar el beneficio de animales sin hogar, buscando personas que deseen adoptar nuestros animales.</i></b></p>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header">
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-circle" style="width: 150px; height: 150px; display:block;">

                <h3 class="text-uppercase text-center p-4"style="color: gray"><b>VISION</b></h3>
            </div>
            <div class="card-body text-center">
                    <p><b> <i>En el año 2030 seremos lideres en el campo de adopción de animales sin hogar, mejoraremos procesos de adopción para hacer más eficientes nuestros procesos tanto para personas cómo para nuestros animalitos.</i></b></p>

             
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card mx-auto">
            <div class="card-header">
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-circle" style="width: 150px; height: 150px; display:block;">

                <h3 class="text-uppercase text-center p-4"style="color: gray"><b>HISTORIA</b></h3>
            </div>
            <div class="card-body text-center">
                    <p> <b><i>Nuestra empresa fue creada en 2021 debido al alto número de animalitos que fueron abandonados luego de la pandemia, tomamos la iniciativa de dar solución a esta problematica que afecta nuestra población.</i></b></p>

                    

            </div>
        </div>
    </div>
</main>